@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *,
// *::before,
// *::after {
// box-sizing: inherit;
// }

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 1),
    rgba($color-accent, 1)
  );
  padding: 5rem 0;
}

@include media-query($breakpoint-tab) {
  html {
    font-size: 68.75%;
  }
}

@include media-query($breakpoint-desktop) {
  html {
    font-size: 75%;
  }
}
