@import "./variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 1),
    rgba($color-accent, 1)
  );
  padding: 5rem 0;
}
