@import "./loader";

.polaroid-list {
  padding: 3rem 0;
  &__element {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__fig {
    max-width: 300px;

    box-shadow: $box-sha-3;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
      transform: rotate(2deg);
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
