@import './loader';

.polaroid-list {
  &__fig {
    box-shadow: $box-sha-1;
    padding: 3rem 3rem 0 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
      transform: rotate(2deg);
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
