.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-shadow: $box-sha-3;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $color-grey-1;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  flex: 1;
  background-color: $color-grey-1;
  transition: transform 0.2s;
  transform: translateX(-100%);
  box-shadow: none;
  z-index: 4;

  &.open-js {
    opacity: 1;
    transform: translateX(0);
    box-shadow: $box-sha-4;
  }

  > ul {
    height: 100%;
    overflow-y: scroll;
  }

  ul {
    list-style: none;
    padding: 2rem 0;
    overflow-y: scroll;

    li {
      &[data-dropdown] {
        a {
          font-weight: bold;
        }
        [data-list] a {
          padding-left: 3.5rem;
          font-weight: 300;
        }
      }
      a {
        display: block;
        text-transform: capitalize;
        width: 100%;
        text-decoration: none;
        color: $color-primary-text;
        font-size: 1.6rem;
        padding: 1.2rem;

        &:hover {
          transition: all, 0.3s;
          background-color: $color-grey-2;
        }
      }
    }
  }
}

.main-content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 5rem 3rem;
}

@include media-query($breakpoint-desktop) {
  .section-wrapper {
    max-width: 1100px;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .side-bar {
    position: static;
    max-width: 300px;
    transform: none;
    box-shadow: $box-sha-4;

    &.open-js {
      transform: none;
    }
  }
}

@include media-query($breakpoint-large-desktop) {
  .section-wrapper {
    max-width: 1300px;
  }
}

