.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 100%;
  box-shadow: $box-sha-3;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $color-grey-1;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 250px;
  flex: 1;
  background-color: $color-grey-1;
  transition: transform 0.2s;
  transform: translateX(-100%);
  box-shadow: none;
  z-index: 4;

  &.open-js {
    opacity: 1;
    transform: translateX(0);
    box-shadow: $box-sha-4;
  }

  ul {
    list-style: none;
    padding: 2rem 0;
    overflow-y: scroll;

    li {
      &[data-dropdown] {
        a {
          font-weight: bold;
        }
        [data-list] a {
          padding-left: 3.5rem;
          font-weight: 300;
        }
      }
      a {
        display: block;
        text-transform: capitalize;
        width: 100%;
        text-decoration: none;
        color: $color-primary-text;
        font-size: 1.6rem;
        padding: 1.2rem;

        &:hover {
          transition: all, 0.3s;
          background-color: $color-grey-2;
        }
      }
    }
  }
}
