$color-primary: #ffc107;
$color-primary-light: #ffecb3;
$color-accent: #ff9800;

$color-white: #fff;
$color-black: #000;

$color-primary-text: #212121;
$color-secondary-text: #757575;

$color-grey-1: #fdfdfd;
$color-grey-2: #e0e0e0;

$font-family: "Montserrat", sans-serif;

$box-sha-1: 0 1px 3px rgba(0, 0, 0, 0.12);
$box-sha-2: 0 3px 6px rgba(0, 0, 0, 0.16);
$box-sha-3: 0 10px 20px rgba(0, 0, 0, 0.19);
$box-sha-4: 0 14px 28px rgba(0, 0, 0, 0.25);

$breakpoint-tab: 700px;
$breakpoint-desktop: 1100px;
